:root {
    --catpputhin: rgb(47, 38, 64);
    --catpputhinborder: rgb(34, 28, 46);
    --whitecat: rgb(206, 203, 212);
}
body {
    margin: 0;
    padding: 0;
}
#draw {
    height: 340px;
    width: 100%;
    background-color: var(--catpputhin);
}
.cirvis {
    margin-left: 100px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    border-radius: 0;
    animation-name: none;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes cirvisSquareTransform {
    0% {
        background-color: var(--catpputhin);
        border: 0px solid var(--catpputhin);
        box-shadow: 0px 0px 0px 0px var(--catpputhinborder);
        transform: rotate(0deg);
    }
    25% {
        background-color: var(--catpputhin);
        border: 5px dotted var(--catpputhinborder);
        box-shadow: 5px 5px 1px 1px var(--whitecat);
        transform: rotate(90deg);
    }
    50% {
        background-color: var(--whitecat);
        border: 10px double var(--catpputhinborder);
        box-shadow: 10px 10px 5px 5px var(--catpputhin);
        transform: rotate(60deg);
    }
    75% {
        background-color: var(--catpputhin);
        border: 5px dashed var(--catpputhinborder);
        box-shadow: -5px -5px 1px -1px var(--whitecat);
        transform: rotate(90deg);
    }
    100% {
        background-color: var(--catpputhin);
        border: 0px solid var(--catpputhin);
        box-shadow: 0px 0px 0px 0px var(--catpputhinborder);
        transform: rotate(0deg);
    }
}

@keyframes cirvisCircleTransform {
    0% {
        background-color: var(--catpputhin);
        border: 0px solid var(--catpputhin);
        box-shadow: 0px 0px 0px 0px var(--catpputhinborder);
        transform: translate(10px, 0px);
    }
    25% {
        background-color: var(--catpputhinborder);
        border: 5px dotted var(--whitecat);
        box-shadow: 5px 5px 1px 1px var(--whitecat);
        transform: translate(10px, 10px);
    }
    50% {
        background-color: var(--whitecat);
        border: 10px double var(--catpputhinborder);
        box-shadow: 10px 10px 5px 5px var(--catpputhin);
        transform: translate(0px, -10px);
    }
    75% {
        background-color: var(--catpputhinborder);
        border: 5px dashed var(--whitecat);
        box-shadow: -5px -5px 1px -1px var(--whitecat);
        transform: translate(-10px, -10px);
    }
    100% {
        background-color: var(--catpputhin);
        border: 0px solid var(--catpputhin);
        box-shadow: 0px 0px 0px 0px var(--catpputhinborder);
        transform: translate(10px, 0px);
    }
}

@keyframes cirvisTriangleTransform {
    0% {
        border-bottom: 50px solid var(--catpputhin);
        box-shadow: 0px 0px 0px 0px var(--catpputhinborder);
        transform: rotate(0deg) translate(20px, 0px);
    }
    25% {
        border-bottom: 50px dotted var(--catpputhinborder);
        box-shadow: 0px 1px 0px 0px var(--whitecat);
        transform: rotate(90deg) translate(20px, 20px);
    }
    50% {
        border-bottom: 60px double var(--whitecat);
        box-shadow: 0px 10px 5px 0px var(--catpputhin) inset;
        transform: rotate(180deg) translate(0px, -20px);
    }
    75% {
        border-bottom: 50px dashed var(--catpputhinborder);
        box-shadow: 0px 1px 0px 0px var(--whitecat);
        transform: rotate(270deg) translate(-20px, -20px);
    }
    100% {
        border-bottom: 50px solid var(--catpputhin);
        box-shadow: 0px 0px 0px 0px var(--catpputhinborder);
        transform: rotate(0deg) translate(20px, 0px);
    }
}

.visual {
    width: 100%;
    padding: 10px;
    height: 182px;
    background-color: var(--catpputhin);
}
#terminaltext {
    width: 96%;
    height: 530px;
    padding: 10px;
    color: var(--whitecat);
    font-family: cursive;
    font-size: 24px;
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: 0px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--whitecat);
    border-radius: 10px;
}

.card {
    overflow: hidden;
    background-color: var(--catpputhin);
    border: 25px solid var(--catpputhinborder);
}
.fieldterm {
    /*padding: 5px;*/
    width: 600px;
}
.fieldterm input[type="text"] {
    width: 66%;
    padding: 5px;
    background-color: var(--catpputhin);
    border: 2px solid var(--whitecat);
    color: var(--whitecat);
    font-family: cursive;
}
.fieldterm input[type="text"]:focus {
    outline: none;
    border: 3px solid rgb(235, 233, 240);
}
.fieldterm input[type="text"]:hover {
    border: 3px solid rgb(229, 227, 232);
}
.fieldterm input[type="submit"] {
    width: 30%;
    padding: 5px;
    background-color: var(--whitecat);
    border: 2px solid var(--catpputhin);
    color: var(--catpputhin);
    font-family: cursive;
}
.fieldterm input[type="submit"]:focus {
    outline: none;
    padding: 6px;
    background-color: rgb(235, 233, 240);
}
.fieldterm input[type="submit"]:hover {
    padding: 6px;
    background-color: rgb(229, 227, 232);
}
.catpputhin {
    background-color: var(--catpputhin);
}
.catpputhinborder {
    background-color: var(--catpputhinborder);
}
.whiteCat {
    background-color: var(--whitecat);
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.left {
    float: left;
}
:right {
    float: right;
}
